.supplementary-activity {
  text-align: center;
}

.supplementary-activity td > :not(:first-child) {
  margin-left: .25rem;
}

div#ddtopmenubar {
  margin: 0;
  text-align: center;
}

div#ddtopmenubar ul.menu {
  display: inline-block;
  padding: 0;
}

div#ddtopmenubar ul.menu li a {
  float: left;
}
